RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME_PROVIDER=pps.gateway.queue.staging.telkomsel
CONSUMER_TAG=pps-services-gateway-telkomsel-consumer

BASE_URL=https://api.digitalcore.telkomsel.com/scrt
CHANNEL_ID=tp
SECRET_KEY=YOUR_SECRET_KEY
API_KEY=YOUR_API_KEY
THIRD_PARTY_ID=YOUR_THIRD_PARTY_ID
THIRD_PARTY_PASSWORD=YOUR_THIRD_PARTY_PASSWORD
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY_BASE64_16_BYTES
DELIVERY_CHANNEL=6014
TIMEOUT=30

# Retry config for pending (RC PPS 9) check order status
RETRY_MAX_ATTEMPTS=4
RETRY_WAIT_SECONDS=10

# MID-based mapping for consume pulsa
# Key is MID (example: swpps, swhuawei, etc)
# Value format: ${ORGANIZATION_CODE}_${PIN}
swpps=000000_000000
swhuawei=000000_000000
swibox=000000_000000
swsamsung=000000_000000
swxiaomi=000000_000000

# PostgreSQL for API logging
POSTGRES_DSN=postgres://user:password@localhost:5432/pps-gateway-telkomsel?sslmode=disable
