HTTP_PORT=8080

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME_PROVIDER=pps.gateway.queue.staging.unipin
CONSUMER_TAG=pps-services-gateway-unipin-consumer

ORACLE_DSN=oracle://user:pass@host:1521/service_name
ORACLE_MAX_OPEN_CONNS=10
ORACLE_MAX_IDLE_CONNS=5
ORACLE_CONN_MAX_LIFETIME_MIN=30
ORACLE_CONN_MAX_IDLE_TIME_MIN=10
PROVIDER_NAME=UNIPIN
SYNC_CRON=0 1 * * *

POSTGRES_DSN=postgres://user:pass@host:5432/dbname?sslmode=disable

BASE_URL=https://dev-api.unipin.com
PARTNER_ID=your-partner-id
SECRET_KEY=your-secret-key
TIMEOUT=30
